html {
  background: #212121;
  font-family: sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.visualizers {
  box-sizing: border-box;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.visualizer {
  display: flex;
  flex-direction: column;
}

.visualizer > ul {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
